<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns="http://java.sun.com/xml/ns/javaee" 
         version="2.5" 
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <display-name>Archetype Created Web Application</display-name>
  
  <!-- Spring MVC Configure -->
  <servlet>
    <servlet-name>dispatcher</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    <init-param>
      <param-name>contextConfigLocation</param-name>
      <param-value>classpath:Conf/springMVC.xml</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>dispatcher</servlet-name>
    <url-pattern>/</url-pattern>
  </servlet-mapping>
  <!-- param-name & param-value can not configure, their default value
       param-name = WEB_INF,param-value = [servlet-name]-servelt.xml
       in this configure file,such as param-value=dispatcher-servlet.xml
   
  <context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>classpath:springContext.xml</param-value>
  </context-param>
  -->
  <!--  test ServletContext
  ServletContext(tomcat) includes 
      WebApplicationContext(Spring)
      DispatchServletContext (parent Context is WebApplicationContext, can think it has a pointer,point parent Context)
      OtherServletsContext (parent Context is WebApplicationContext, also have a pointer,point parent Context)
  So, DispatchServlet can reference WebApplictionContext, all servlet share this WebApplicationContext
  <context-param>
    <param-name>key123</param-name>
    <param-value>value123</param-value>
  </context-param>
  -->
  <!--  
  <listener>
    <listener-class>com.sap.controller.Hello</listener-class>
  </listener>
  -->
  
  <!-- Spring Configure -->
  <listener>
    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>
  
  <!-- loading Spring configure file -->
  <context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>classpath:Conf/applicationContext.xml</param-value>
  </context-param> 
  
  <!-- filter configure such as encoding filter-->
  <filter>
    <filter-name>EncodingFilter</filter-name>
    <filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
    <init-param>
      <param-name>encoding</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>EncodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
</web-app>
